<div ng-controller="ClientsController">
    <ul class="nav nav-tabs" role="tablist">
        <li ng-repeat="tab in tabs" role="presentation" ng-class="{'active': tab.isActive}">
            <a aria-controls="home" href class="h3" role="tab" data-toggle="tab" ng-click="makeActive(tab) " ng-bind="tab.tabName"></a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" ng-class="{'active': tabs[0].isActive}" class="tab-pane">
            <div class="table-responsive" ng-cloak>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Имя</th>
                            <th>Идентификационный номер</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="client in individualClients  | filter : activeFilter">
                            <td ng-bind="$index + 1"></td>
                            <td ng-bind="client.name"></td>
                            <td ng-bind="client.identificationNo"></td>
                        </tr>
                    </tbody>
                </table>
                <uib-pagination ng-model="individualPageInfo.currentPage" total-items="individualPageInfo.totalCount">
                </uib-pagination>
            </div>
        </div>
        <div role="tabpanel" ng-class="{'active': tabs[1].isActive}" class="tab-pane">
            <div class="table-responsive" ng-cloak>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Имя</th>
                            <th>Идентификационный номер</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="client in juridicalClients | filter : activeFilter">
                            <td ng-bind="$index + 1"></td>
                            <td ng-bind="client.name"></td>
                            <td ng-bind="client.identificationNo"></td>
                        </tr>
                    </tbody>
                </table>
                <uib-pagination ng-model="juridicalPageInfo.currentPage" total-items="juridicalPageInfo.totalCount">
                </uib-pagination>
            </div>
        </div>
    </div>

</div>
