
@{
    ViewBag.Title = "Администрирование";
}

<div ng-controller="AdminController">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-xs-12">
            <h3>Список кредитов</h3>
        </div>
        <div class="col-md-3 col-lg-3 col-xs-12">
            <button class="btn btn-primary col-xs-12" ng-click="createCreditType()">Добавить новый кредит</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Наименование</th>
                    <th>Тип</th>
                    <th>Активен</th>
                    <th>Сменить активность</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="creditType in creditTypes">
                    <td ng-bind="$index + 1"></td>
                    <td ng-bind="creditType.name"></td>
                    <td ng-bind="getCreditKindName(creditType.creditKind)"></td>
                    <td>
                        {{active(creditType.isActive)}}
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-bind="creditType.isActive ? 'Сделать неактивным' : 'Сделать активным'" ng-click="changeActivity(creditType.id, !creditType.isActive, $index)"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

