
@{
    ViewBag.Title = "Администрирование";
}

<div ng-controller="AdminController">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-xs-12">
            <h3>Список кредитов</h3>
        </div>
        <div class="col-md-3 col-lg-3 col-xs-12">
            <button class="btn btn-primary col-xs-12" ng-click="createCreditType()">Добавить новый кредит</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-left">
                <ol class="breadcrumb  pull-left">
                    <li><a href="#" ng-click="activeFilter = null">Все ({{creditTypes.length}})</a></li>
                    <li><a href="#" ng-click="activeFilter = {isActive:true}">Активные ({{count(true)}})</a></li> 
                    <li><a href="#" ng-click="activeFilter = {isActive: false}">Неактивные ({{count(false)}})</a></li> 
                </ol>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Наименование</th>
                    <th>Тип</th>
                    <th>Активен</th>
                    <th>Сменить активность</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="creditType in creditTypes | filter : activeFilter">
                    <td ng-bind="$index + 1"></td>
                    <td ng-bind="creditType.name"></td>
                    <td ng-bind="getCreditKindName(creditType.creditKind)"></td>
                    <td>
                        {{active(creditType.isActive)}}
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-bind="creditType.isActive ? 'Сделать неактивным' : 'Сделать активным'" ng-click="changeActivity(creditType.id, !creditType.isActive)"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

