<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
Доброго времени суток,<br/><br/>

Отдел безопасности обработал заявку <a href="@Model.LinkToRequest">@Model.RequestNumber</a> на кредитование физического лица/юридического лица.<br/><br/>

Всего наилучшего,<br/>
Банковская система<br/>
==================================================================<br/>
Это письмо было отправлено автоматически. Не отвечайте на него.<br/>

</body>
</html>