<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Здравствуйте, @Model.ClientName,<br /><br />

    Ваша заявка на кредит была @Model.RequestProcessResult.<br />
    За подробной информацией Вы можете обратиться по телефону номер телефона или в отделения банка:<br /><br />
    <ul>
        <li>#1 по адресу ул. Несуществующая, д.1</li>
        <li>#2 по адресу пер. Несуществующий, д.1</li>
    </ul>
    <br /><br />
    Всего наилучшего,<br />
    Банковская система<br />
    ==================================================================<br />
    Это письмо было отправлено автоматически. Не отвечайте на него.<br />
</body>
</html>