<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Необработанная ошибка!
    <br /><br />
    From @Model.Url. <br /><br />
    @Model.Exception <br /><br />
    @Model.Data <br /><br />

    Всего наилучшего,<br />
    Банковская система<br />
    ==================================================================<br />
    Это письмо было отправлено автоматически. Не отвечайте на него.<br />
</body>
</html>