<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\Dropbox\TFIP Deploy Package\TFIP.Web.Api.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/api</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CreditDbConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=TFIPSERV\SQLSERVER;Initial Catalog=CreditDb;Persist Security Info=True;User ID=sa;Password=!Q2w3e4r" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;Initial Catalog=CreditDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CreditDbConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0;Initial Catalog=CreditDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="NBRBConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=TFIPSERV\SQLSERVER;Initial Catalog=CreditDb;Persist Security Info=True;User ID=sa;Password=!Q2w3e4r" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;Initial Catalog=CreditDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NBRBConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0;Initial Catalog=CreditDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MIAConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:v5c4u25evs.database.windows.net,1433;Initial Catalog=TFIP;User ID=mordont@v5c4u25evs;Password=MuKsAlMa11;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:v5c4u25evs.database.windows.net,1433;Database=TFIP;User ID=mordont@v5c4u25evs;Password=MuKsAlMa11;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;Initial Catalog=CreditDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MIAConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0;Initial Catalog=CreditDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CreditDbConnection-Web.config Connection String">
      <ParameterValue>Data Source=TFIPSERV\SQLSERVER;Initial Catalog=CreditDb;Persist Security Info=True;User ID=sa;Password=!Q2w3e4r</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MIAConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:v5c4u25evs.database.windows.net,1433;Database=TFIP;User ID=mordont@v5c4u25evs;Password=MuKsAlMa11;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NBRBConnection-Web.config Connection String">
      <ParameterValue>Data Source=TFIPSERV\SQLSERVER;Initial Catalog=CreditDb;Persist Security Info=True;User ID=sa;Password=!Q2w3e4r</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>