<h4>Создание нового типа кредита</h4>
<div>
    <div class="form-horizontal">
        <div text-field-input name="'name'" model="creditTypeModel.name" label-text="'Наименование'" is-required="true"></div>
        <div radio-field-input name="'isIndividual'" model="creditTypeModel.isIndividual" is-required="true" model-values="isIndividualValues"></div>
    </div>
</div>
