@{
    ViewBag.Title = "Home Page";
}

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-default">Default</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>

<div ng-controller="HomeController">
    <div ng-repeat="info in infos" ng-bind="info"></div>
</div>