@import "variables.less";
@import "colors.less";

body, div, span, li, h1, h2, h3, h4, h5, h6 {
    font-family: @main-font;
}

body {
    .action-column {
        width: 120px;
        text-align: center;
    }

    .note {
        font-style: italic;
        color: gray;
    }

    .red {
        color: @red;
    }

    .green {
        color: @green;
    }

    a.glyphicon.yes-no-buttons {
        font-size: 18pt;
    }

    background-color: @backgroundColor;

    a.glyphicon {
        font-size: 19pt;
    }

    a.glyphicon:hover {
        text-decoration: none;
        cursor: pointer;
    }

    footer {
        background: none repeat scroll 0 0 white;
        border-top: 1px solid #e7eaec;
        bottom: 0;
        left: 0;
        padding: 10px 15px;
        position: fixed;
        right: 0;
        margin: 0 auto;
    }

    @media (max-width: @tablet-screen) {
        footer {
            max-width: 100%;
        }
    }

    @media (min-width: @tablet-screen) {
        footer {
            max-width: @tablet-screen-container;
        }
    }

    @media(min-width: @small-screen) {
        footer {
            max-width: @small-screen-container;
        }
    }
    
    @media(min-width: @big-screen) {
        footer {
            max-width: @big-screen-container;
        }
    }

    .page-header {
        background: linear-gradient(to top, #efb73e, #dd4814);
        margin-top: 51px;
        padding: 40px 15px 25px 15px;
        color: white;
        text-shadow: 1px 1px 1px black;
    }

    .body-content {
        padding: 15px;
        padding-bottom: 50px;
    }

    .page-header-container {
        padding: 0;
    }

    .container:not(.navbar-container) {
        background-color: @containerBackgroundColor;
    }

    
    /*.modal {
        .modal-content {
            padding: 12px 15px 20px 20px;
        }

        .modal-dialog {
            margin-top: 50px;
        }

        h1 {
            padding-bottom: 10px;
        }    
    }*/
}

message-box {
    .modal-dialog {
        width: 520px;
    }

    .cell {
        display: table-cell;

        .icon {
            width: 32px;
            height: 32px;
            margin: 4px;
            //background: url(@icons-sprite-url) 0 -1614px no-repeat;

            &.info {
                background-position: 0 -1734px;
            }

            &.warning {
                background-position: 0 -1654px;
            }

            &.error {
                background-position: 0 -1694px;
            }
        }

        &.message {
            vertical-align: middle;
            word-wrap: break-word;
        }
    }

    .btn {
        margin-top: 10px;
        margin-left: 4px;
        margin-right: 4px;
        text-align: center;

        .defBtn {
            margin-right: 10px;
        }
    }
}

a:hover, a:focus {
    cursor: pointer;
}

.search-inputs-row {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
}

.subtab{
    padding-left: 20px;
    padding-right: 20px;
}

.guarantor-wrapper{
    position: relative;
}

.delete-button{
    position: absolute;
    right: 5%;
}
