
@{
    ViewBag.Title = "IndividualClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ClientController">
    <h3 ng-if="clientViewModel.firstName">{{clientViewModel.firstName}}</h3>
    <h3 ng-if="clientViewModel.lastname">{{clientViewModel.lastname}}</h3>
    <h3 ng-if="clientViewModel.firstName">{{clientViewModel.firstName}}</h3>
</div>

