<div ng-controller="">
    <div>
        <input type="radio" ng-model="clientType" ng-value="private" name="clientType" />
        <input type="radio" ng-model="clientType" ng-value="corporate" name="clientType" />
    </div>
    <div>
        <input type="text" ng-model="clientId"/>
    </div>
</div>
