
@{
    ViewBag.Title = "IndividualClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ClientController">
    <div>{{clientViewModel.firstName}}</div>
    <div>{{clientViewModel.lastname}}</div>
    <div>{{clientViewModel.firstName}}</div>
</div>

