@{
    ViewBag.Title = "Работа с клиентом";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ClientController" ng-cloak>
    <div class="row">
        <div class="col-lg-8 col-md-6 col-xs-12">
            <h3 ng-if="clientViewModel" ng-bind="getClientName()"></h3>
        </div>
        <div ng-if="capabilityModel.capabilities.editClientInfo" class="col-md-3 col-lg-2 col-xs-12" ng-class="{'col-md-offset-3' : !capabilityModel.capabilities.createCreditRequest  }">
            <button class="btn btn-primary col-xs-12" ng-click="editClient()">Редактировать</button>
        </div>
        <div ng-if="capabilityModel.capabilities.createCreditRequest" class="col-md-3 col-lg-2 col-xs-12" ng-class="{'col-md-offset-3' : !capabilityModel.capabilities.editClientInfo }">
            <button class="btn btn-primary col-xs-12" ng-click="createCreditRequest()">Оформить заявку</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <uib-accordion>
                <uib-accordion-group class="panel-primary" heading="Дополнительная информация">
                    <div>
                        <h4 ng-if="clientViewModel.passportNo">Паспортные данные</h4>
                        <div simple-metadata ng-if="clientViewModel.passportNo" field-name="'Номер паспорта'" field-value="clientViewModel.passportNo"></div>
                        <div simple-metadata ng-if="clientViewModel.dateOfIssue" field-name="'Выдан'" field-value="clientViewModel.dateOfIssue" is-date="'true'"></div>
                        <div simple-metadata ng-if="clientViewModel.authority" field-name="'Орган выдавший паспорт'" field-value="clientViewModel.authority"></div>

                        <h4 ng-if="clientViewModel.representerFirstName">Даныне о представителе</h4>
                        <div simple-metadata ng-if="clientViewModel.representerLastName" field-name="'Фамилия'" field-value="clientViewModel.representerLastName"></div>
                        <div simple-metadata ng-if="clientViewModel.representerFirstName" field-name="'Имя'" field-value="clientViewModel.representerFirstName"></div>
                        <div simple-metadata ng-if="clientViewModel.representerPatronymic" field-name="'Отчество'" field-value="clientViewModel.representerPatronymic"></div>

                        <h4 ng-if="clientViewModel.contactEmail">Контактные данные</h4>
                        <div simple-metadata ng-if="clientViewModel.contactLastName" field-name="'Фамилия'" field-value="clientViewModel.contactLastName"></div>
                        <div simple-metadata ng-if="clientViewModel.contactFirstName" field-name="'Имя'" field-value="clientViewModel.contactFirstName"></div>
                        <div simple-metadata ng-if="clientViewModel.contactPatronymic" field-name="'Отчество'" field-value="clientViewModel.contactPatronymic"></div>
                        <div simple-metadata ng-if="clientViewModel.contactEmail" field-name="'Почтовый ящик'" field-value="clientViewModel.contactEmail"></div>
                        <div simple-metadata ng-if="clientViewModel.contactPhone" field-name="'Телефон'" field-value="clientViewModel.contactPhone"></div>
                        <div simple-metadata ng-if="clientViewModel.contactFax" field-name="'Факс'" field-value="clientViewModel.contactFax"></div>
                        
                    </div>
                </uib-accordion-group>
            </uib-accordion>
            <uib-accordion ng-if="capabilityModel.capabilities.midInformation">
                <uib-accordion-group class="panel-primary" heading="Данные из базы МВД">
                    <div>
                        <div>{{securityInfo.mia}}</div>
                    </div>
                </uib-accordion-group>
            </uib-accordion>
            <uib-accordion ng-if="capabilityModel.capabilities.nbrbInformation">
                <uib-accordion-group class="panel-primary" heading="Данные из НБРБ">
                    <div>
                        <div>{{securityInfo.nbrb}}</div>
                    </div>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Кредитная история</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Кредит</th>
                                <th>Вид кредита</th>
                                <th>Дата создания заявки</th>
                                <th>Дата подтверждения/отклонения заявки</th>
                                <th>Дата последнего платежа</th>
                                <th>Статус</th>
                                <th class="action-column">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="creditRequest in clientViewModel.credits | offset: (currentPage-1)*numPerPage |limitTo: numPerPage">
                                    <td ng-bind="(currentPage-1)*numPerPage +$index + 1"></td>
                                    <td ng-bind="creditRequest.creditTypeName"></td>
                                    <td ng-bind="creditRequest.creditKind"></td>
                                    <td ng-bind="creditRequest.creationDate | date: 'dd.MM.yyyy'"></td>
                                    <td ng-bind="creditRequest.approvalDate | date: 'dd.MM.yyyy'"></td>
                                    <td ng-bind="creditRequest.lastPaymentDate | date: 'dd.MM.yyyy'"></td>
                                    <td ng-bind="creditRequest.status"></td>
                                    <td>
                                        <a ng-if="canMakePayment(creditRequest) && creditRequest.capabilities.makePayment" ng-click="makePayment(creditRequest)" title="Внести платёж" class="glyphicon glyphicon-euro"></a>
                                        <span>&nbsp;</span>
                                        <a ng-if="creditRequest.capabilities.approveCreditRequest" ng-click="approveRequest(creditRequest)" title="Подтвердить заявку" class="glyphicon glyphicon-ok green yes-no-buttons"></a>
                                        <span>&nbsp;</span>
                                        <a ng-if="creditRequest.capabilities.approveCreditRequest" ng-click="denyRequest(creditRequest)" title="Отклонить заявку" class="glyphicon glyphicon-remove red yes-no-buttons"></a>
                                        <span>&nbsp;</span>
                                        <a ng-click="getCreditRequestDetails(creditRequest)" title="Подробнее" class="glyphicon glyphicon-list-alt"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <uib-pagination ng-model="currentPage" total-items="totalItems">
                        </uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

