
@{
    ViewBag.Title = "Добавление клиента";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="CreateClientConroller" >
    
    @{ Html.RenderAction("CreateIndividualClientForm", "Clients"); }
    
</div>

