
@{
    ViewBag.Title = "Добавление клиента";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="CreateJuridicalClientController">
    <div class="form-horizontal">
        
    </div>
</div>

