<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">Поиск поручителей</h4>
</div>
<div class="modal-body">
    @Html.Partial("FindClients")
</div>

