
@{
    ViewBag.Title = "Работа с клиентами";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ClientsSelectorController" ng-cloak>
    @{Html.RenderAction("FindClients", "Clients");}
</div>

