<div class="form-group" 
     ng-form="fieldInputForm"
     ng-class="{'has-error': fieldInputForm.fieldInput.$error.required && fieldInputForm.fieldInput.$dirty}">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <label> <input type="checkbox" ng-model="model" name="fieldInput" ng-required="isRequired" id="{{name}}" ng-disabled="isDisabled"> {{labelText}} </label>
        </div>
    </div>
</div>
